doctype
html(lang="en", xmlns='http://www.w3.org/1999/xhtml')
  head
    include ../components/head
  body.with-menu.home-page
    header
      include ../components/nav-double
    main
      #home.container
        .fixed-action-btn(style='bottom: 45px; right: 24px;')
          a.waves-effect.waves-light.waves-ripple.btn-floating.btn-large(href='deck.html')
            i.large.material-icons add
        div
          br
          ul.collapsible.popout(data-collapsible='accordion')
            li
              .collapsible-header
                a.dropdown-button(href='#', data-activates='theme-settings', data-beloworigin='true')
                  i.material-icons more_vert
                span First Theme
                span.badge.new 5
              .collapsible-body
                .collection
                  a.collection-item(href='deck.html') First Deck in First Theme
                  a.collection-item(href='deck.html') Second Deck in First Theme
                  a.collection-item(href='deck.html') Third Deck in First Theme
                    span.badge.new 5
            li
              .collapsible-header
                a.dropdown-button(href='#', data-activates='theme-settings', data-beloworigin='true')
                  i.material-icons more_vert
                span Second Theme
              .collapsible-body
                .collection
                  a.collection-item(href='deck.html') First Deck in Second Theme
                  a.collection-item(href='deck.html') Second Deck in Second Theme
                  a.collection-item(href='deck.html') Third Deck in Second Theme
            li
              .collapsible-header
                a.dropdown-button(href='#', data-activates='theme-settings', data-beloworigin='true')
                  i.material-icons more_vert
                span Third Theme
                span.badge.new 43
              .collapsible-body
                .collection
                  a.collection-item(href='deck.html') First Deck in Third Theme
                    span.badge.new 10
                  a.collection-item(href='deck.html') Second Deck in Third Theme
                    span.badge.new 33
                  a.collection-item(href='deck.html') Third Deck in Third Theme
      #browse.container Browse
      .fixed-action-btn(style='bottom: 45px; right: 24px;')
        a.waves-effect.waves-light.waves-ripple.btn-floating.btn-large(href='#')
          i.large.material-icons add
      #profile.container Profile
    include ../components/theme-settings-dropdown
    include ../components/scripts
    script.
      $('.left-menu').sideNav({
        edge: 'left',
        closeOnClick: false
      });
