doctype html
html(lang='en', xmlns='http://www.w3.org/1999/xhtml')
  head
    include ../components/head
  body.with-menu
    header
      include ../components/nav-single
    main Settings
    ul#slide-out.side-nav.fixed
      li
        a(href='#!') First Sidebar Link
      li
        a(href='#!') Second Sidebar Link
    include ../components/scripts
    script.
      $('.left-menu').sideNav({
        edge: 'left',
        closeOnClick: true
      });
