doctype html
html(lang='en', xmlns='http://www.w3.org/1999/xhtml')
  head
    include ../components/head
  body.with-menu
    header
      .navbar-fixed
        nav
          .nav-wrapper
            ul#nav-mobile
              li
                a.hide-on-large-only.right-menu(href='#', data-activates='slide-out')
                  i.material-icons menu
              li
                a(href='home.html')
                  i.material-icons keyboard_arrow_left
              span.brand-logo.left.truncate Settings
    main Settings
    ul#slide-out.side-nav.fixed
      li
        a(href='#!') First Sidebar Link
      li
        a(href='#!') Second Sidebar Link
    include ../components/side-nav-panel
    include ../components/scripts
    script.
      $('.right-menu').sideNav({
        edge: 'left',
        closeOnClick: true
      });
