include nav-single
#second-nav.navbar-fixed.hide-on-med-and-up
  nav
    ul.tabs
      li.tab.col.s4
        a.btn-flat.active(href='#home') Home
      li.tab.col.s4
        a.btn-flat(href='#browse') Browse
      li.tab.col.s4
        a.btn-flat(href='#profile') Profile
