#first-nav.navbar-fixed
  nav
    .nav-first-part.col
      ul
        li
          a.hide-on-large-only.left-menu(href='#', data-activates='slide-out')
            i.material-icons menu
        li
          a(href='home.html')
            i.material-icons keyboard_arrow_left
    .nav-second-part.col
      p.brand-logo.left Memory Mate
    .nav-fourth-part.col.hide-on-large-only.right
      ul
        li
          a(href='search.html')
            i.material-icons search
        li
          a(href='settings.html')
            i.material-icons more_vert
    .nav-fourth-part.col.hide-on-med-and-down.right
      ul
        li
          a.btn-flat(href='search.html') Search
        li.tab
          a.btn-flat(href='settings.html') Settings
    .nav-third-part.col.hide-on-large-only
      ul.tabs.hide-on-small-only.hide-on-large-only
        li.tab.btn-icon
          a(href='#home')
            i.material-icons home
        li.tab.btn-icon
          a(href='#browse')
            i.material-icons language
        li.tab.btn-icon
          a(href='#profile')
            i.material-icons person
    .nav-third-part.col.hide-on-med-and-down
      ul.tabs
        li.tab
          a.btn-flat.active(href='#home') Home
        li.tab
          a.btn-flat(href='#browse') Browse
        li.tab
          a.btn-flat(href='#profile') Profile
include ../components/side-nav-panel
