nav
  #first-nav
    .col
      ul
        li
          a.hide-on-large-only.right-menu(href='#', data-activates='slide-out')
            i.material-icons menu
        li
          a(href='home.html')
            i.material-icons keyboard_arrow_left
    .col
      p.brand-logo.left Deck Name
    .col.hide-on-small-only.hide-on-large-only
      ul
        li
          a(href='search.html')
            i.material-icons search
        li
          a(href='settings.html')
            i.material-icons more_vert
  include ../components/side-nav-panel
