ul#theme-settings.dropdown-content
  li
    a(href='#!') Rename Deck
  li
    a(href='#!') Add Deck
  li
    a(href='#!') Delete Deck
  li.divider
  li
    a(href='#!') Rename Theme
  li
    a(href='#!') Delete Theme
