// All needed caps
.collapsible-header {
  & span.badge.new {
    position: relative;
    display: inline-block;
    float: right;
    right: 0;
  }
}

#login-row {
  padding-top: 20px;
}

#login-row, #signup-row {
  max-width: 200px;
}

#forgot-pass-btn {
  height: 20px;
  line-height: 20px;
}

form {
  &#signup, &#login {
    max-width: 400px;
    max-height: none;
  }
}

#first-nav {
  $icon-size: 64px;
  height: 100%;

  .col:nth-child(1) {
    float: left;
    width: $icon-size * 2;
    @media #{$large-and-up} {
      width: $icon-size;
    }
  }

  .col:nth-child(2) {
    float: left;
    width: calc(100% - #{$icon-size} * 4);
    width: -moz-calc(100% - #{$icon-size} * 4);

    @media #{$small-and-down} {
      width: calc(100% - #{$icon-size} * 2);
      width: -moz-calc(100% - #{$icon-size} * 2);
    }
    @media #{$large-and-up} {
      width: calc(100% - #{$icon-size} * 2);
      width: -moz-calc(100% - #{$icon-size} * 2);
    }
  }

  .col:nth-child(3) {
    float: right;
    width: $icon-size * 2;
    @media #{$large-and-up} {
      width: $icon-size;
    }
  }
}

#second-nav {
  z-index: 997;
}
