// All needed caps
.collapsible-header {
  & span.badge.new {
    position: relative;
    display: inline-block;
    float: right;
    right: 0;
  }
}

#login-row {
  padding-top: 20px;
}

#login-row, #signup-row {
  max-width: 200px;
}

#forgot-pass-btn {
  height: 20px;
  line-height: 20px;
}

form {
  &#signup, &#login {
    max-width: 400px;
    max-height: none;
  }
}

#first-nav {
  nav {
    $icon-size: $navbar-height-mobile;
    @media #{$medium-and-up} {
      $icon-size: $navbar-height;
    }
    $word-size: $icon-size * 2;

    .nav-first-part {
      float: left;
      width: $icon-size * 2;
      height: 100%;
      @media #{$large-and-up} {
        width: $icon-size;
      }
    }

    .nav-second-part {
      float: left;
      width: calc(100% - #{$icon-size} * 4);
      width: -moz-calc(100% - #{$icon-size} * 4);

      @media #{$medium-only} {
        width: calc(100% - #{$icon-size} * 7);
        width: -moz-calc(100% - #{$icon-size} * 7);
      }

      @media #{$large-and-up} {
        width: calc(100% - #{$word-size} * 5);
        width: -moz-calc(100% - #{$word-size} * 5);
      }
    }

    .nav-third-part {
      float: right;
      height: 100%;
      @media #{$medium-only} {
        width: $icon-size * 3;
      }
      @media #{$large-and-up} {
        width: calc(#{$word-size * 3} - #{$icon-size});
      }
    }

    .nav-fourth-part {
      float: right;
      width: $icon-size * 2;
      height: 100%;
      @media #{$large-and-up} {
        width: calc(#{$word-size * 2} - #{$icon-size});
      }
    }
  }
}

#second-nav {
  z-index: 997;
}

#side-nav-library {
  margin: 0;
  padding: 0;
  span {
    &.badge {
      position: absolute;
      line-height: $sidenav-row-height;
      margin-left: 0;
    }
  }
  .collapsible {
    .collapsible-header {
      padding: 0;
      min-height: 0;
      height: $sidenav-row-height;
      line-height: $sidenav-row-height;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      margin: 0 4rem 0 0;

      &:hover, &.active {
        margin-right: 0;
        span.badge {
          visibility: hidden;
          opacity: 0;
          transition: visibility 0s 0.2s, opacity 0.2s linear;
        }
        background-color: lighten($sidenav-bg-color, 10%);
      }
    }
  }
  .collection {
    background-color: darken($sidenav-bg-color, 3%);

    .collection-item {
      height: $sidenav-row-height;
      line-height: $sidenav-row-height;
      padding: 0;
      max-width: $sidenav-width;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      margin-right: 4rem;

      &:not(.active) {
        &:hover {
          margin-right: -4rem;
          span.badge {
            visibility: hidden;
            opacity: 0;
            transition: visibility 0s 0.2s, opacity 0.2s linear;
          }
          background-color: lighten($sidenav-bg-color, 10%);
        }
      }
    }
  }
}

body:not(.home-page) {
  #first-nav {
    .nav-third-part {
      display: none;
    }
  }
}

body.home-page {
  #first-nav {
    $icon-size: $navbar-height-mobile;
    @media #{$medium-and-up} {
      $icon-size: $navbar-height;
    }
    $word-size: $icon-size * 2;
    .nav-first-part {
      width: $icon-size;
      @media #{$large-and-up} {
        display: none;
      }
    }
    .nav-second-part {
      width: calc(100% - #{$icon-size} * 3);
      width: -moz-calc(100% - #{$icon-size} * 3);
      @media #{$medium-only} {
        width: calc(100% - #{$icon-size} * 6);
        width: -moz-calc(100% - #{$icon-size} * 6);
      }
      @media #{$large-and-up} {
        width: calc(100% - #{$word-size} * 5 + #{$icon-size});
        width: -moz-calc(100% - #{$word-size} * 5 + #{$icon-size});
      }
    }
    a[href="home.html"] {
      display: none;
    }
  }
}
