.simple-pagination-page-numbers,
.simple-pagination-previous,
.simple-pagination-next,
.simple-pagination-first,
.simple-pagination-last {
  a {
    width: 2rem;
    font-weight: 300;
    color: $text-color;
  }
}

a[class*="simple-pagination-navigation-disabled"] {
  color: darken($paginator-color, 50%);
  cursor: default;

  &.simple-pagination-navigation-page {
    color: $background-color;
    background-color: $paginator-current-number;
    border-radius: 2px;
  }
}

.my-navigation {
  .my-pagination {
    position:relative;
    text-align:center;
    div, span, a {
      display:inline-block;
    }
  }
}

