doctype html
html(lang='en', xmlns='http://www.w3.org/1999/xhtml')
  head
    include ../components/head
  body#pagination.with-menu
    header
      include ../components/nav-single
    main
      table.mcard.editable.container
        tbody
          tr
            td
              .up-side.center-align.row
                h5 Question
                ul
                  li
                    a.waves-effect.waves-light.waves-ripple.btn-flat(style='height: 30px; width: 150px; line-height: 30px;') Add text
                  li
                    a.waves-effect.waves-light.waves-ripple.btn-flat(style='height: 30px; width: 150px; line-height: 30px;') Add image
                  li
                    a.waves-effect.waves-light.waves-ripple.btn-flat(style='height: 30px; width: 150px; line-height: 30px;') Draw image
              .down-side.center-align.row
                h5 Answer
                ul.valign
                  li
                    a.waves-effect.waves-light.waves-ripple.btn-flat(style='height: 30px; width: 150px; line-height: 30px;') Add text
                  li
                    a.waves-effect.waves-light.waves-ripple.btn-flat(style='height: 30px; width: 150px; line-height: 30px;') Add image
                  li
                    a.waves-effect.waves-light.waves-ripple.btn-flat(style='height: 30px; width: 150px; line-height: 30px;') Draw image
          tr
            td SLIDE2
          tr
            td SLIDE3
          tr
            td SLIDE4
    footer.my-navigation.page-footer.valign-wrapper
      .my-pagination.container.valign
        .simple-pagination-first.waves-effect
        .simple-pagination-previous.waves-effect
        .simple-pagination-page-numbers.waves-effect
        .simple-pagination-next.waves-effect
        .simple-pagination-last.waves-effect
    include ../components/scripts
    script(type='text/javascript', src='js/components/pagination.js')
    script.
      (function ($) {
        $('#pagination').simplePagination({
          items_per_page: 1,
          number_of_visible_page_numbers: 5,
          first_content: '<<',
          previous_content: '<',
          next_content: '>',
          last_content: '>>'
        });
      })(jQuery);
      $('.left-menu').sideNav({
        edge: 'left',
        closeOnClick: false
      });
