doctype html
html(lang='en', xmlns='http://www.w3.org/1999/xhtml')
  head
    include ../components/head
  body#pagination.with-menu
    header
      .navbar-fixed
        include ../components/navbar
    main
      table.mcard.editable.container
        tbody
          tr
            td
              .up-side.center-align.row
                h5 Question
                .question
                  p This is the question
              .down-side.center-align.row
                .answer.unknown
                  a.btn Answer
                  .answer-content
                    p This is the right answer
          tr
            td SLIDE2
          tr
            td SLIDE3
          tr
            td SLIDE4
    footer.my-navigation.page-footer.valign-wrapper
      .my-pagination.container.valign
        .simple-pagination-first
        .simple-pagination-previous
        .simple-pagination-page-numbers
        .simple-pagination-next
        .simple-pagination-last
    include ../components/scripts
    script(type='text/javascript', src='js/components/pagination.js')
    script.
      (function($){
      $('#pagination').simplePagination({
      items_per_page: 1,
      number_of_visible_page_numbers: 5,
      first_content: '<<',
      previous_content: '<',
      next_content: '>',
      last_content: '>>'});
      })(jQuery);
    script.
      $('.right-menu').sideNav({
      edge: 'left',
      closeOnClick: true
      }
      );
