// All needed caps
.collapsible-header {
  & span.badge.new {
    position: relative;
    display: inline-block;
    float: right;
    right: 0;
  }
}

#login-row {
  padding-top: 20px;
}

#login-row, #signup-row {
  max-width: 200px;
}

#forgot-pass-btn {
  height: 20px;
  line-height: 20px;
}

form {
  &#signup, &#login {
    max-width: 400px;
    max-height: none;
  }
}

#second-nav {
  z-index: 997;
}
