.mcard {
  height: 100%;

  &.learning {
    .up-side .btn-flat,
    .down-side .btn-flat {
        display: none;
    }
  }

  &.editable {

  }

  .up-side,
  .down-side {
    position: relative;
    height: 50%;
  }
}
