.navbar-second {
  position: relative;
  height: $navbar-height-mobile;
  z-index: 999;

  nav {
    position: fixed;
    @extend .z-depth-1-half;
  }

  @media #{$medium-and-up} {
    height: $navbar-height;
  }
}
