/*** Colors ***/
$primary-color: color("amber", "base") !default;
$secondary-color: color("blue-grey", "darken-1") !default;
$link-color: #fff !default;
$background-color: color("grey", "darken-4") !default;

/*** Buttons ***/
$button-bg-color-disabled: #000 !default;
$button-color-disabled: darken($secondary-color, 30%) !default;
$button-color-flat: #fff !default;
$button-height: 64px !default;
$button-height-mobile: 56px !default;
$button-line-height: 64px !default;
$button-line-height-mobile: 56px !default;

/*** Cards ***/
$card-bg-color: color("grey", "darken-3") !default;

/*** Dropdown ***/
$dropdown-hover-bg-color: $primary-color-dark !default;

/*** Tabs ***/
$tabs-underline-color: #fff !default;
$tabs-text-color: #fff !default;
$tabs-bg-color: $primary-color !default;

// Footer
$footer-bg-color: transparent !default;

/*** Collections ***/
$collection-hover-bg-color: $secondary-color !default;
$collection-link-color: #fff !default;

/*** Accordion ***/
$accordion-bg-color: color("grey", "darken-3") !default;
$accordion-item-color: lighten($secondary-color, 15%) !default;