<!--Right-Side Navigation Panel-->
<template id="side-nav-panel">
  <ul id="slide-out" class="side-nav fixed">
    <h5>Library</h5>
    <ul class="collapsible" data-collapsible="accordion">
      <li>
        <div class="collapsible-header">
          <span>First Theme</span>
          <span class="badge">5</span>
        </div>
        <div class="collapsible-body">
          <div class="collection">
            <a href="deck/deck.html" class="collection-item">First Deck in First Theme</a>
            <a href="deck/deck.html" class="collection-item">Second Deck in First Theme</a>
            <a href="deck/deck.html" class="collection-item"><span class="badge">5</span>Third Deck in First Theme</a>
          </div>
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <span>Second Theme</span>
        </div>
        <div class="collapsible-body">
          <div class="collection">
            <a href="deck/deck.html" class="collection-item">First Deck in Second Theme</a>
            <a href="deck/deck.html" class="collection-item">Second Deck in Second Theme</a>
            <a href="deck/deck.html" class="collection-item">Third Deck in Second Theme</a>
          </div>
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <span>Third Theme</span>
          <span class="badge">43</span>
        </div>
        <div class="collapsible-body">
          <div class="collection">
            <a href="deck/deck.html" class="collection-item"><span class="badge">10</span>First Deck in Third Theme</a>
            <a href="deck/deck.html" class="collection-item"><span class="badge">33</span>Second Deck in Third Theme</a>
            <a href="deck/deck.html" class="collection-item">Third Deck in Third Theme</a>
          </div>
        </div>
      </li>
    </ul>
    <h5>Options</h5>
    <li><a href="#!">FAQ</a></li>
    <li><a href="index.html">Sign Out</a></li>
    <li><a href="#!" onclick="window.close();">Exit</a></li>
  </ul>
</template>
